.item {
  color:green;
  border-radius: 1em;
  background-color: #fff;
}
.content {
  grid-area: c;
  background-color:inherit;
  color:black;
}


.textarea {
 resize: none;
  border-radius:5px;
  font-size: 1.5em; /* Размер надписи */
  font-family: "sans-serif";
  text-indent: 5px;


}