.item{

    font-size: 24px;
    font-weight:bold;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 5px;


}
.item .active{
}
.item a {
    color:black;
    text-decoration: none;
}
.item a:hover {
    color: red;

}
.item a.active{
    color: darkred;





}