.app-wrapper {
    display: grid;
    margin: 0 auto;
    max-width: 1400px;

    grid-template-areas: "h h" "n c";
    grid-template-rows: 1fr 20fr;
    grid-template-columns: 5fr 20fr;

}

.nav {
    border-radius: 1em;
    margin-top: 5px;
    padding: 1em;
    grid-area: n;
    background-color: #eeeeee;
}

.content {
    margin:5px 0 0 5px;
    padding:1em;
    grid-area: c;
    background-color: #eeeeee;
    color: 000;
    border-radius: 1em;
}





