body{
    background-color: #fff;
}
.app-wrapper {
    display: grid;
    margin: 0 auto;
    max-width: 1400px;

    grid-template-areas: "h h" "n c";
    grid-template-rows: 1fr 20fr;
    grid-template-columns: 5fr 20fr;

}
.header {
    padding: 0.5em;
    grid-area: h;
    background-color: #3b5998;
    border-radius: .5em;

}
.header img {
    width: 60px;

}

.nav {
    border-radius: .5em;
    margin-top: 5px;
    padding: 1em;
    grid-area: n;
    background-color: 	#f7f7f7;
}

.content {
    margin:5px 0 0 5px;
    padding:1em;
    grid-area: c;
    background-color: 	#f7f7f7;
    color: 000;
    border-radius: .5em;
}





