.app-wrapper {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    grid-template-areas: "h h" "n c";

    grid-template-rows: 60px 4fr;
    grid-template-columns: 1fr 5fr;
}




.header {
    grid-area: h;
    background-color: darkblue;
}
.header img {
    width: 60px;
    
}

.nav {
    grid-area: n;
    background-color:green;
}


.content {
    grid-area: c;
    background-color:brown;
    color:#fff;
}

.content img{
    max-width: 100px;
    height: auto;
}




