.dialogs {
    display: grid;
    grid-template-columns: 2fr 5fr;

}

.dialogsItem {
    font-weight: 700;

}

.dialogsItem.active {
    color: green;
}

.dialog {

}

.messages {

}

.message {
    margin-bottom: 2px;
    border-radius: 2px;
    font-weight: 500;
    background-color: #fff;
}





